@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;700&display=swap');

/*PEDAÇOS DA TELA*/
.container {
    width: 100%;
    height: 100%;
}
.superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-color: #042B52;
    border: 2.7px solid #042B52;
}

.superior_direito {
    background-color: #d9d7d7;
    width: 170px;
    position: absolute;
    height: 35px;
    border: 1.5px solid white;
    border-radius: 15px;
    top: 30%;
    left: 83.5%;
    transition: background-color .4s;
}

.superior_direito:hover{
    background-color: #042B52;
}

.inferior {
    background-color: #d9d7d7;
    height: 88%;
    width: 100%;
    position: absolute;
    top: 12%;
    left: 0;
}

.inferior_esquerdo_um {
    position: absolute;
    width: 40%;
    height: 10%;
    left: 7%;
    top: 12%;
}

.inferior_esquerdo_dois {
    position: absolute;
    width: 40%;
    height: 20%;
    left: 5%;
    top: 22%;
}

.inferior_direito_cadastro {
    position: absolute;
    width: 33%;
    left: 56.5%;
    top: 12%;
    height: 82%;
    background-color: #042B52;
    border: 2.5px solid #042B52;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 13px #323232;
}

/*LETRAS E TEXTOS*/
h1 {
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1.5px 1.5px 1px #042b5280;
    height: 40px;
    padding-top: 13.5px;
    padding-left: 60px;
    padding-bottom: 5px;
    width: 420px;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
}

h2{
    color: #042B52;
    font-family: 'Noto sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 1.5px 1.5px 1.5px #042b5280;
    padding-left: 2.5%;
}

h3 {
    color: #f3f3f3;
    font-family: 'Noto sans', sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 2px #042b5280;
}

h4 {
    color: #042B52;
    font-family: 'Noto sans', sans-serif;
    text-shadow: 0.5px 0.5px 0.2px #042b5280;
    font-size: x-large;
    height: 20px;
    padding-bottom: 15px;
    text-align: center;
}

h4:hover {
    color: #f3f3f3;
}

a {
    text-decoration: none;
}

a#caminhoAlt{
    font-family: 'Noto sans', sans-serif;
    color: #f3f3f3;
    text-shadow: 1.5px 1.5px 1px #042b5280;
    position: relative;
    text-decoration: underline;
}

a#termosdeuso {
    font-family: 'Noto sans', sans-serif;
    color: #f3f3f3;
    text-shadow: 1.5px 1.5px 1px #042b5280;
    text-decoration: underline;
}

p#recuperar{
    padding-left: 55px;
    color: black;
    font-family: 'Noto sans', sans-serif;
}

p#descTelaIni{
    font-weight: 200;
    color: #323232;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #042b5280;
    font-family: 'Noto sans', sans-serif;
}

p {
    font-family: 'Noto sans', sans-serif;
}

p#jatem {
    color: #f3f3f3;
    text-align: center;
}

/*FORMULÁRIO*/

input[type=submit]{
    width: 200px;
    font-family: 'Noto sans', sans-serif;
    color: #042B52;
    border: 1.5px solid white;
    border-radius: 15px;
    position: relative;
    left: 29%;
    transition: background-color .4s;
}

input#botao:hover{
    background-color: #042B52;
    color: #f3f3f3;
    
}

label {
    color: #f3f3f3;
    font-family: 'Noto sans', sans-serif;
    position: relative;
    text-shadow: 1.5px 1.5px 1px #042b5280;
    left: 7%;
}

input[type=text]{
    width: 400px;
    height: 33px;
    border: 1.5px solid #f3f3f3;
    border-radius: 6px 6px 6px 6px;
    background-color: #f3f3f3;
    position: relative;
    left: 12%;
}

input[type=password]{
    width: 400px;
    height: 33px;
    border: 1.5px solid #e9cef4;
    border-radius: 6px 6px 6px 6px;
    background-color: white;
    position: relative;
    left: 12%;
}


  
.radio-group input[type="radio"]{
    vertical-align: middle;
    

}
.radio-group label {
    vertical-align: middle;
    color: #f3f3f3;
    margin-left: 17%;
  }

#curso {
    position: relative;
    font-family: 'Noto sans', serif;
    left: 9%;
    color: #042B52;
}
/*IMAGENS*/

.logo {
    position: absolute;
    width: 40%;
    height: 50%;
    top: 22.5%;
    left: 9%;
}