@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;700&display=swap');

.container {
    width: 100%;
    height: 100%;
}

body {
    background-color: #d9d7d7;
}


/*PARTE SUPERIOR*/

.superior {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 12%;
    background-color: #042B52;
    border: 2.7px solid #042B52;
}

a {
    text-decoration: none;
    font-weight: normal;
}

h1 {
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1.5px 1.5px 1px #042b5280;
    height: 40px;
    padding-top: 13.5px;
    padding-left: 60px;
    padding-bottom: 5px;
    width: 420px;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
}

.superior_direito {
    background-color: #042B52;
    width: 300px;
    position: absolute;
    height: 35px;
    top: 30%;
    right: 15%;
}

h5 {
    color: #d9d7d7;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 0.5px 0.5px 0.2px #042b5280;
    font-size: x-large;
    height: 20px;
    padding-bottom: 15px;
    text-align: center;
}

/*PARTE INFERIOR*/

.inferior {
    background-color: #d9d7d7;
    height: 88%;
    width: 100%;
    position: absolute;
    top: 12%;
    left: 0;
}

/*MENU LATERAL*/

.inferior_esquerdo {
    position: relative;
    width: 10%;
    height: 82%;
    top: 10%;
    left: 2%;
    background-color: #042B52;
    box-shadow: 1px 1px 15px #323232;
}

.menu_topo {
    position: relative;
    padding-top: 2%;
}

a#menu {
    padding-left: 6px;
    font-weight: 500;
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 0.5px 0.5px 0.2px #042b5280;
    line-height: 3px;
}

.menu_topo p {
    margin-bottom: 5px;
}

.menu_baixo {
    position: absolute;
    bottom: 0.1%;
    width: 102%;
}

.menu_baixo p {
    margin-bottom: 5px;
}

a#solicitacoes {
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 5%;
}

a#denuncias {
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 5%;
}

a#pedido {
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
}

a#escrever {
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
}

a#minhas {
    color: #f3f3f3;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 5%;
}


/*PARTE PRINCIPAL*/

.inferior_direito_principal {
    position: absolute;
    width: 80%;
    left: 19%;
    top: 10%;
}

.alerta {
    position: absolute;
    right: 10%;
  }

  button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-top: 25px;
}

.noticia {
    position: relative;
    max-width: 1100px;
  }

  .titulo {
    position: relative;
    width: 100%;
  }

.imagem {
    position: relative;
    max-width: 1100px;
    top: 20%;
}

h2 {
    color: #323232;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    height: 50px;
    text-shadow: 0.5px 0.5px 0.2px #042b5280;
}

p#subtitulo {
    color: #323232;
    font-weight: 400;
    font-size: large;
    margin-top: 10px;
}

p#data {
    color: #042B52;
    font-size: large;
}

p#data > a {
    color: #042B52;
    font-size: large;
}

p#data > a:hover {
    text-decoration: underline;
}
  
.imagem img {
    width: 50%;
    display: block;
    margin-left: 22%;
    margin-top: auto;
  }

.corpo {
    position: relative;
}

h6 {
    font-family: 'Noto Sans', sans-serif;
    color: #323232;
    padding-top: 20px;
    font-size: large;
}

/*responsividade*/

.mobile-menu {
    display: none; /* Oculta o menu em telas maiores */
}

.menu-toggle {
    display: none;
}

/* Estilos do botão de hambúrguer */

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Estilos do menu lateral para dispositivos móveis */
.mobile-links {
    display: none;
    background-color: #f3f3f3;
    position: absolute; /* Deve coincidir com a altura da barra superior */
    left: 0;
    width: 90%;
    height: 100%;
    z-index: 1;
    box-shadow: 0.5px 0.5px 0.5px #042B52;
}

/* Estilos para tornar visível o menu lateral quando o botão de hambúrguer é clicado */
.show-menu .mobile-menu {
    display: block;
    transition: display 0.4s;
}

.show-menu .mobile-links {
    display: block;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {

    .mobile-menu {
        display: block;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        left: 75%;
        bottom: 15%;
    }

    h1 {
        font-size: 50px;
        padding-left: 5px; /* Tamanho menor para o título */
    }

    h5 {
        top: 10%;
        padding-bottom: 0;
        padding-left: 2%;
        color: #042B52;
        margin-bottom: 10px;
        text-align: left;
    }

    .superior {
        width: 115%;
    }

    .superior_direito {
        display: none; /* Oculta o link do perfil */
    }

    .inferior {
        top: 12%; /* Ajusta o espaço para o menu lateral */
    }

    .inferior_esquerdo {
        display: none; /* Oculta o menu lateral */
    }

    .menu {
        color: #042B52;
        font-size: x-large;
        line-height: 0.5px;
    }

    .menu-baixo-mobile {
        position: absolute;
        top: 70%;
        width: 110%;
    }

    .opcoes a {
        padding-left: 2%;
        text-decoration: underline;
    }

    .inferior_direito_principal {
        /*position: absolute;*/
        top: 5%;
        width: 100%; /* Ocupa toda a largura disponível */
    }

    .noticia {
        position: absolute;
        max-width: 100%;
        width: 97%;
        align-items: start;
        right: 16.5%;
        top: 10%;
    }

    .alerta {
        bottom: 10%;
    }

    .noticia img {
        max-width: 100%; /* Imagem de notícia se ajusta à largura da tela */
    }

    h2 {
        font-size: xx-large;
    }

    p#subtitulo {
        font-size: larger;
    }

    .subtitulo {
        position: relative;
        margin-top: 40%;
    }
}