<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="Cadastro.css">
    <script>
      function validarFormulario() {
        var emailInput = document.getElementById('email');
        var email = emailInput.value;
      
        // Verificar se o e-mail contém a sequência de caracteres desejada
        if (!email.includes('canoas.ifrs.edu.br')) {
          alert('Por favor, insira seu e-mail institucional.');
          emailInput.focus(); // Colocar o foco de volta ao campo de e-mail
          event.preventDefault(); // Impedir o envio do formulário
        }
      
      }
      </script>
      <script>
        function mostrarCurso() {
          var radioAluno = document.getElementById('radio-aluno');
          var cursoSelect = document.getElementById('curso');
          var idCursoInput = document.getElementById('id_curso');
        
          if (radioAluno.checked) {
            cursoSelect.disabled = false;
          } else {
            cursoSelect.disabled = true;
            idCursoInput.value = '';
          }
        }

        mostrarCurso();
        </script>
    <title>Notifs</title>
</head>
<body>
    <div class="container">
        <div class="superior">
            <div class="superior_esquerdo">
                <a href="index.html"><h1 class="nome_site">NOTIFs</h1></a>
            </div>
            <div class="superior_direito">
                <a href="index.html"><h4>Faça login</h4></a>
            </div>
        </div>
        <div class="inferior">
            <div class="inferior_esquerdo_um">
                <h2>Seja bem-vindo ao NOTIFs!</h2>
            </div>
            <div class="inferior_esquerdo_dois">
                <p id="descTelaIni">Aqui você pode se manter ligado nas<br>últimas notícias do IFRS - Campus Canoas.</p>
            </div>
            <div class="logo">
                <img src="NOTIFs.png" id="logo">
            </div>
            <div class="inferior_direito_cadastro">
                <h3>Cadastro</h3>
                <form action="../controller/usuario.php?acao=cadastrar" method="post" onsubmit="validarFormulario(event)">
                    <label for="email">E-mail institucional</label><br>
                    <input type="text" id="email" name="email" required><br><br>
                    <label for="nome">Nome completo</label><br>
                    <input type="text" id="nome" name="nome" required><br><br>
                    <label for="senha">Senha</label><br>
                    <input type="password" id="senha" name="senha" required><br><br>
                    <label for="tipo">Você é aluno ou servidor?</label>
                        <label for="radio-aluno">
                          <input type="radio" name="tipo" value="Aluno" id="radio-aluno" onclick="mostrarCurso()">
                          Aluno
                        </label>
                        <label for="radio-servidor">
                          <input type="radio" name="tipo" value="Servidor" id="radio-servidor" onclick="mostrarCurso()">
                          Servidor
                        </label>
                      <br><br>
                      <label for="curso">Curso </label>
                      <select name="curso" id="curso" disabled>
                            <option value="">Selecione...</option>
                            <option value="Administração">Administração</option>
                            <option value="Desenvolvimento de sistemas">DS</option>
                            <option value="Eletrônica">Eletrônica</option>
                            <option value="Engenharia eletrônica">Eng. Ele.</option>
                            <option value="Análise e desenvolvimento de sistemas">TADS</option>
                            <option value="Automação industrial">TAI</option>
                            <option value="Logística">Logística</option>
                            <option value="Matemática">Matemática</option>
                            <option value="Comércio">Comércio</option>
                            <option value="Manutenção e suporte em informática">TMSI</option>
                            <option value="Gestão de projetos e inovação">GPI</option>
                            <option value="Educação: integração de saberes">EIS</option>
                            <option value="Linguagens contemporâneas e ensino">LCE</option>
                            <option value="PROFMAT">PROFMAT</option>
                      </select>
                      <br><br>
                      <label for="checkbox">
                        <input type="checkbox" name="termos" id="termos" required>
                        Declaro que li, estou ciente e concordo com as condições especificadas nos <a id="termosdeuso" href="Termos.html">Termos de uso</a>.
                      </label>
                      <input type="hidden" id="id_curso" name="id_curso">
                    <br><br>
                    <input type="submit" id="botao" value="Finalizar" onclick="validarFormulario()"><br><br>
                    
                </form>                
            </div>
    </div>
    </div>
</body>
</html>