<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="TermosTela.css">
    <title>Notifs</title>
</head>
<body>
    <div class="container">
        <div class="superior">
            <div class="superior_esquerdo">
                <a href="index.html"><h1 class="nome_site">NOTIFs</h1></a>
            </div>
            <div class="superior_direito">
                <a href="TelaCadastro.html"><h4>Cadastre-se</h4></a>
            </div>
        </div>
        <div class="inferior">
            <div class="termos">
                <h2>Termos de uso</h2>
                <hr>
                <h3>Termos de uso - NOTIFs - Aplicação web de notícias para a comunidade interna do IFRS Canoas</h3>
                <p>Bem-vindo ao NOTIFs! Esse site tem como objetivo o espalhamento de notícias para a comunidade acadêmica do IFRS Canoas. Antes de utilizar nossos serviços, pedimos que você leia atentamente e concorde com os termos a seguir. Ao acessar ou usar o nosso site, você está concordando com estes termos de uso.</p>
                <h3>1. Uso do Conteúdo</h3>
            <p>1.1. Todo o conteúdo disponível no NOTIFs, incluindo notícias, artigos, imagens e vídeos, são de propriedade do site ou de terceiros devidamente autorizados. O conteúdo é protegido por leis de direitos autorais e propriedade intelectual.</p>
        <p>1.2. Você pode visualizar, compartilhar e interagir com o conteúdo para fins pessoais e não comerciais. Qualquer uso não autorizado do conteúdo é estritamente proibido.</p>

    <h3>2. Contribuições dos Usuários</h3>
<p>2.1. Os usuários promovidos podem contribuir com a publicação de conteúdo. Ao fazê-lo, você concede ao NOTIFs uma licença não exclusiva para usar, modificar e distribuir o conteúdo.</p>
<p>2.2. Você é responsável por garantir que suas contribuições não violem direitos autorais, marcas registradas ou direitos de terceiros. O NOTIFs não assume responsabilidade por contribuições de usuários. Contribuições que promovam preconceito, discriminação ou discurso de ódio são estritamente proibidas.</p>
<p>2.3. O NOTIFs reserva o direito de remover qualquer contribuição que viole estas diretrizes ou que seja considerada inadequada, a seu critério exclusivo.</p>

<h3>3. Responsabilidade do Usuário</h3>
<p>3.1. Você concorda em usar o NOTIFs de forma ética e legal. Não deve se envolver em atividades que violem leis, regulamentos ou direitos de terceiros.</p>
<p>3.2. Você é responsável por proteger suas informações de login e não deve compartilhá-las com terceiros.</p>

<h3>4. Alterações no Site e Termos</h3>
<p>Reservamo-nos o direito de modificar ou encerrar o site a qualquer momento, bem como de atualizar estes Termos de Uso. Recomendamos que você reveja periodicamente os termos para estar ciente de quaisquer alterações.</p>

<h3>5. Limitação de Responsabilidade</h3>
<p>O NOTIFs não se responsabiliza por danos diretos, indiretos, incidentais ou consequenciais resultantes do uso ou incapacidade de usar o site ou seu conteúdo.</p>

<h3>6. Links para Terceiros</h3>
<p>O NOTIFs pode conter links para sites de terceiros. Esses links são fornecidos apenas para conveniência e não implicam endosso ou responsabilidade pelo conteúdo desses sites.</p>

<h3>7. Jurisdição</h3>
<p>Estes Termos de Uso serão regidos pelas leis da Constituição. Qualquer disputa relacionada a estes termos estará sujeita à jurisdição exclusiva dos tribunais competentes dessa jurisdição.</p>

<h3>8. Contato</h3>
<p>Se você tiver alguma dúvida ou preocupação sobre estes Termos de Uso, entre em contato conosco através do nosso email: notifs@gmail.com.</p>


            </div>
        </div>
    </div>
</body>
</html>